* 


{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
}
.body{
}
/* Common Classes Start here */
.section{ padding-top: 100px; padding-bottom: 100px; }
.bg--grey{ background-color: #FFF7F5; }
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.font--gray{
    color: #3A393E;
}
.img{
    max-width: 100%;
}
.btn{
    padding: 15px 30px;
    background-color: #FF6D33;
    color: #FFFFFF;
    border: 4px solid #FFFFFF;
    cursor: pointer;
}
/* // Common Classes terminated here */

/* Head Section Start here */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.logo{
    width: 20%;
    padding: 10px;
}
.navbar{
    display: flex;
    list-style: none;
    padding: 15px 30px;
}
.nav__item{
    padding: 0 20px;
}
.nav__link{
    font-size: 20px;
    color: #3A393E;
    /*margin-right: 30px;*/
}
/* // Head Section terminated here */


/* banner Section Start here */
.banner__content {
    display: flex;
    width: 100%;
    position: relative;
}
/*.section__head {
    width: 50%;
}*/
.banner__img {
    width: 50%;
    background: url('../images/OrangeColor.png') no-repeat;
    
}
.virusPosition--L {
    position: absolute;
    top: 500px;
    left: -260px;
}
.virusPosition--M {
    position: absolute;
    top: 100px;
    left: 400px;
}
.virusPosition--R {
    position: absolute;
    top: 0;
    right: 10px;
}
/* // banner Section terminated here */

/* Product Section Start here */
.Inner__Section{
    display: flex;
}
.Section__content{
    display: flex;
}
/* // Product Section terminated here */

/* Feature Section Start here */
/* // Feature Section terminated here */

/* Head Section Start here */
/* // Head Section terminated here */

/* Head Section Start here */
/* // Head Section terminated here */

/* Footer Section Start here */
/* // footer Section terminated here */